* {
	padding: 0px;
	margin: 0px;
}
html {
	height: 100%;
	overflow: hidden;
}
body {
	height: 100%;
	overflow: hidden;
	font-size: 12px;
}
img {
	border: 0px;
}
a {
	outline: none;
}


/* µ¼º½ */
.second-panel-menu {
	width: 100%;
	/*background: url('images/second_panel_bg.jpg') -200px 0px repeat-y;*/
}
.second-panel-menu ul {
	list-style-type: none;
	overflow: hidden;
	position: relative;
	left: 0px;
	top: 0px;
	z-index: 94000;
}
.second-panel-menu ul li { 
	font-size:12px; 
	padding: 2px 2px 2px 2px; 
	margin: 5px 5px 5px 5px; 
}

.second-panel-menu ul li a {
	padding-left: 10px;
	display: block;
	overflow: hidden;
	text-decoration: none;
	font-size: 12px;
	color: #000;
}
.second-panel-menu ul li a span {
	padding-left: 20px;
	height: 30px;
	line-height: 30px;
	display: block;
	overflow: hidden;
	cursor: pointer;
	background: url('../imgaes/menu_span_bg.png') 0px 0px no-repeat;
}

.second-panel-menu ul li a:hover {
	color: #fff;
	background: url('../imgaes/menu_hover.gif') center left repeat-x;
	border:1px solid #1556ac;
	padding:0 0 0 10px;
	height:28px;
	line-height:28px;
}
.second-panel-menu ul li a:hover span {
	background: url('../imgaes/menu_span_bg.png') 0px -30px no-repeat;
}